@font-face {
    font-family: 'DJB Get Digital';
    src: url("../fonts/DJBGetDigital.woff2") format('woff2'),
        url("../fonts/DJBGetDigital.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


#timer {
    min-width:400px;
  font-size: 70px;
  background-color: black;
  color: limegreen;
  padding: 15px;
    padding-top:25px;
  border-radius: 20px;
}

#timer span{
    width:100px;
    display: inline-block;
}

#timer {
  font-family: 'DJB Get Digital';
}
